@media screen and (max-width: 1060px) {
    .carousel img {
        width: 30%;
    }
}

@media screen and (max-width: 870px) {

    header .container {
        justify-content: center;
    }
    
    header .container img { 
        margin: 10px;
    }

}

@media screen and (max-width: 950px) {
    .carousel img {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: 100%;
    }
}